@font-face {
   font-family: 'Proxima Nova Font 2';
   font-display: swap;
   src: url('file:///C:/Users/fld/AppData/Local/Mobirise.com/Mobirise/projects/project-2023-12-02_214302/fonts/Proxima%20Nova%20Font%202/font.ttf');
}
