@font-face {
   font-family: 'glendale-glendale-regular-400';
   font-display: swap;
   src: url('glendale-glendale-regular-400/font.ttf');
}
@font-face {
   font-family: 'Proxima Nova Font 2';
   font-display: swap;
   src: url('Proxima Nova Font 2/font.ttf');
}
