@font-face {
   font-family: 'glendale-glendale-regular-400';
   font-display: swap;
   src: url('file:///C:/Users/fld/AppData/Local/Mobirise.com/Mobirise/projects/project-2023-12-02_214302/fonts/glendale-glendale-regular-400/font.ttf');
}
